body {
  margin: 10px 0;
}

todo-app {
    width: 600px;
}

.item-done {
  text-decoration: line-through;
}

.remove {
  text-align: right;
  line-height: 50px;
}

.remove a {
  color: red;  
  cursor: pointer;
}

.remove a:hover {  
  color: darkred;
}

/* callout by http://cpratt.co/twitter-bootstrap-callout-css-styles/ */
.bs-callout {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}